#page2 {
  width: 300px; /* Ancho ideal para una extensión pequeña */
  height: 250px; /* Ajustar altura según el contenido */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
}

#page2 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#page2 .popup-container {
  width: 100%;
}

#page2 .header-bar {
  background-color: rgba(54, 147, 150, 0.94);
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px;
}

#page2 .header-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

#page2 .header-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

#page2 .content {
  padding: 10px;
}

#page2 .main-icon {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  border-radius: 10px;
}

#page2 .main-title {
  font-size: 24px;
  color: rgba(54, 147, 150, 0.94);
  margin-top: 10px;
}

#page2 .subtitle {
  font-size: 12px;
  font-style: italic;
  color: #050405;
  margin-top: 5px;
}

#page2 .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

#page2 .button {
  background-color: rgba(54, 147, 150, 0.94);
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
}

#page2 .button:hover {
  background-color: #2b7a7c;
}
